body {
	background-color: black ;
	text-align: center ;
}
h1 {
	font-size: 25px ;
	font-family: Cambria;
	text-align: Center ;
	color: black ;
	font-style: italic ;
	background-color: orange ;
}
h2 {
	font-family: Times New Roman;
}
h3 {
	font-size: 22px ;
	font-family: Arial black ;
	color: orange;
	text-align: center ;
	font-style: oblique ;
}
#nav {
	height: 300px ;
	width: 100px ;
	float: center ;
	padding: 5px ;
}
div {
	font-size: 20px;
}


/* Fond du gadget de la barre de recherche */
.recherche_p {
	background-color: black;  /* Couleur de fond */
	border-style: solid;  /* Style de la bordure */
	border-width: 20px;  /* Epaisseur de la bordure */
	border-width: 20px;  /* Epaisseur de la bordure */
	border-color: black;  /* Couleur de la bordure */
	padding: 20px 15px 20px 15px;  /* Espace entre les bords et le contenu : haut droite bas gauche */
}

/* Champ de saisie */
#searchthis #search {
	background-color: white; /* Couleur de fond */
	border-style: solid; /* Style de bordure */
	border-width: 1px; /* Epaisseur de la bordure */
	border-color: black; /* Couleur de la bordure */
	font-family: Cambria; /* Police du texte */
	font-size: 30px; /* Taille de la police */
}

/* Bouton valider */
#searchthis #search-btn {
	background-color: black;   /* Couleur de fond */
    border-style: solid;   /* Style de la bordure  */
    border-width: 1px;   /* Epaisseur de la bordure  */
    border-color: black;   /* Couleur de la bordure  */
    padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
    width: 120px;
    box-sizing: border-box;   /* Important */
    font-family: PT sans;   /* Police du texte */
    font-size: 20px; /* Taille de la police du texte */	
	color: white;
}

/* Bouton valider quand survolé par la souris */
#searchthis #search-btn:hover {
	background-color: orange; /* Couleur de fond */
	color: black; /* Couleur du texte */
	cursor: pointer; /* Apparence du curseur comme pour un lien */
}
